<div class="row">
	<div class="col-2">
		<div class="mar5BR">
			<h6 class="text-left"><strong>LDA Topic:</strong></h6>
			<span class="text-left mar5BR"><%= returnDocu.lda %></span>						
		</div>
	</div> 
	<div class="col-10">
		<div class="mar5BR">
			<h6 class="text-left"><strong>LDA Keywords:</strong></h6>
			<span class="text-left mar5BR"><%= returnDocu.ldaKw %></span>						
		</div>
	</div>
</div>
<hr class="style3">	
<div class="row">
	<div class="col-2">
		<div class="mar5BR">
			<h6 class="text-left"><strong>NMF Topic:</strong></h6>
			<span class="text-left mar5BR"><%= returnDocu.nmf %></span>						
		</div>
	</div> 
	<div class="col-10">
		<div class="mar5BR">
			<h6 class="text-left"><strong>NMF Keywords:</strong></h6>
			<span class="text-left mar5BR"><%= returnDocu.nmfKw %></span>						
		</div>
	</div>
</div>
<hr class="style3">	
<div class="row">
	<div class="col-2">
		<div class="mar5BR">
			<h6 class="text-left"><strong>LSA Topic:</strong></h6>
			<span class="text-left mar5BR"><%= returnDocu.lsa %></span>						
		</div>
	</div> 
	<div class="col-10">
		<div class="mar5BR">
			<h6 class="text-left"><strong>LSA Keywords:</strong></h6>
			<span class="text-left mar5BR"><%= returnDocu.lsaKw %></span>						
		</div>
	</div>
</div>
<hr class="style3">