<div>
	<div class="row">
		<div class="col-3">
			<div class="mar5BR">
				<h6 class="text-left"><strong>Actual Class:</strong></h6>
				<span class="text-left mar5BR"><%= returnDocu.recordedClass %></span>						
			</div>
		</div> 
		<div class="col-3">
			<div class="mar5BR">
				<h6 class="text-left"><strong>XGBoost Class:</strong></h6>
				<span class="text-left mar5BR"><%= "Class: " + returnDocu.predClassXg %></span>
				<br>
				<span class="text-left mar5BR"><%= "Certainty: " + returnDocu.predClassXgcer %></span>							
			</div>
		</div>
		<div class="col-3">
			<div class="mar5BR">
				<h6 class="text-left"><strong>3 Voting Class:</strong></h6>
				<span class="text-left mar5BR"><%= "Class: " + returnDocu.predClass3 %></span>
				<br>
				<span class="text-left mar5BR"><%= "Certainty: " + returnDocu.predClass3cer %></span>							
			</div>
		</div> 
		<div class="col-3">
			<div class="mar5BR">
				<h6 class="text-left"><strong>5 Voting Class:</strong></h6>
				<span class="text-left mar5BR"><%= "Class: " + returnDocu.predClass5 %></span>
				<br>
				<span class="text-left mar5BR"><%= "Certainty: " + returnDocu.predClass5cer %></span>							
			</div>
		</div> 
	</div>
</div>